.sobre-mi {
  padding-top: 20px;
}
.sobre-mi .detalles {
  width: 80%;
  margin: 40px 0;
}

.sobre-mi h2 + p{
  margin: 20px 0;
}

.sobre-mi p {
  text-align: justify;
}

.sobre-mi span {
  color: #f44769;
}
