<div class="container-fluid container-form flex-column align-items-center justify-content-center">
  <form action="" method="POST">
    <h5>Editar Experiencia Laboral</h5>
    <label for="image">Imagen</label>
    <input type="text" name="image">
    <label for="nombre-empresa">Nombre de la empresa</label>
    <input type="text" name="nombre-empresa">
    <label for="posicion">Posición</label>
    <input type="text" name="posicion">
    <label for="periodo">Periodo</label>
    <input type="text" name="periodo">
    <label for="descripcion">Descripcion</label>
    <textarea name="descripcion"></textarea>
    <input type="submit" value="INGRESAR">
    <input type="button" value="CANCELAR" routerLink="">
  </form>
</div>
