header {
  z-index: 10;
}

nav a {
  color: #f8f9faa6;
}

nav a:hover {
  color: #f44769;
}

.navbar-collapse button {
  background-color: #f44769;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  margin: 3px 10px;
  color: #fff;
  transition: .3s all;
}

.navbar-collapse button:hover {
  background-color: #922b3f;
}
