header {
  z-index: 10;
}

nav a {
  color: #f8f9faa6;
}

nav a:hover {
  color: #fff;
}

.navbar-collapse button {
  height: 40px;
  background-color: #2ec7ba;
  padding: 2px 10px;
  border: none;
  border-radius: 10px;
  margin: 3px 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: .3s all;
}

.navbar-collapse button:hover {
  background-color: #39aca3;
}
