.unauthorized {
  width: 100vw;
  height: 100vh;
  background-color: #282842;
  color: #fff;
  position: fixed;
  top: 0;
  display: grid;
  place-content: center;
}

.unauthorized h1 {
  text-align: start;
  font-size: 76px;
  line-height: 70px;
}

.unauthorized h1 span {
  color: #39aca3;
  font-size: 96px;
}

.unauthorized p {
  font-size: 24px;
  text-align: center;
}

.unauthorized button {
  margin: 30px 0;
  border: 2px dashed #39aca3;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  padding: 5px;
  transition: .3s all;
}

.unauthorized button:hover {
  background-color: #39aca3;
  border-style: solid;
}
