.container-form {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.container-form form {
  width: 80%;
  max-width: 800px;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  border: 2px solid #f44769;
  padding: 40px;
  margin: 20px 0;
  background-color: #fff;
  overflow: auto;
}

.container-form form h5 {
  color: #333;
}

.container-form form label {
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  color: #f44769;
}

.container-form form input {
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  height: 40px;
  border: none;
  outline: none;
  color: #7e7e7e;
}

.container-form form input[type="text"] {
  background-color: transparent;
  border-bottom: 3px solid #2e3031;
  padding: 8px 0;
}

.container-form form input[type="text"]:focus {
  border-color: #f44769;
}

.container-form form input[type="submit"] {
  border-radius: 5px;
  color: #fff;
  background-color: #f44769;
  transition: .3s all;
}

.container-form form input[type="button"] {
  border-radius: 5px;
  border: none;
  border-color: #f44769;
  color: #f44769;
  transition: .3s all;
}

.container-form form input[type="button"]:hover {
  background-color: #f44769;
  color: #fff;
}

.container-form form textarea {
  width: 100%;
  max-width: 400px;
  min-height: 150px;
  background-color: transparent;
  resize: vertical;
  border: none;
  outline: none;
  border-bottom: 3px solid #f44769;
  text-align: justify;
  color: #7e7e7e;
}

.container-form form textarea:focus {
  border-color: #f44769;
}
