.inicio h1 {
  color: #f44769;
}

.inicio .contacto div {
  background-color: #2e3031;
  padding: 5px 15px;
  border-radius: 25px;
}

.inicio .contacto a {
  color: #fff;
}

.inicio .contacto a:hover {
  color: #f44769;
}
