.inicio h1 {
  color: #f44769;
}

.inicio .contacto a {
  display: grid;
  place-content: center;
  background-color: #2e3031;
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.inicio .contacto a:hover {
  background-color: #f44769;
}

.inicio .position {
  color: #1DB954;
}

.inicio .download-cv {
  width: fit-content;
  background-color: #f44769;
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: 25px;
  animation: .3s all;
}
