<div class="container-fluid container-form flex-column align-items-center justify-content-center">
  <form class="bg-dark" #projectForm="ngForm" (submit)="sendForm(projectForm)">
    <h5 class="text-white" *ngIf="getUrl() == '/add-project'">Añadir Proyecto</h5>
    <h5 class="text-white" *ngIf="getUrl() == '/edit-project'">Editar Proyecto</h5>
    <label for="nombreProyecto">Nombre del proyecto</label>
    <input type="text" name="nombreProyecto" autocomplete="off" [(ngModel)]="name">
    <label for="periodo">Periodo</label>
    <input type="text" name="periodo" autocomplete="off" [(ngModel)]="date">
    <label for="descripcion">Descripcion</label>
    <textarea name="descripcion" autocomplete="off" [(ngModel)]="description"></textarea>
    <label for="url">URL</label>
    <input type="text" name="url" autocomplete="off" [(ngModel)]="url">
    <label for="tecnologias">Tecnologias implementadas</label>
    <input type="text" name="tecnologias" autocomplete="off" [(ngModel)]="technologies">
    <input type="submit" value="INGRESAR">
    <input type="button" value="CANCELAR" routerLink="">
  </form>
</div>
