<div class="container-fluid container-form flex-column align-items-center justify-content-center">
  <form action="" method="POST">
    <h5>Editar Proyecto</h5>
    <label for="nombre-proyecto">Nombre del proyecto</label>
    <input type="text" name="nombre-proyecto">
    <label for="periodo">Periodo</label>
    <input type="text" name="periodo">
    <label for="descripcion">Descripcion</label>
    <textarea name="descripcion"></textarea>
    <label for="url">URL</label>
    <input type="text" name="url">
    <label for="tecnlogias">Tecnologias implementadas</label>
    <input type="text" name="tecnlogias">
    <input type="submit" value="INGRESAR">
    <input type="button" value="CANCELAR" routerLink="">
  </form>
</div>
