<section class="proyectos container-fluid d-flex flex-column align-items-center" id="proyectos" *ngIf="loadedData">
    <h2 class="h2">Proyectos</h2>
    <div class="lista justify-content-center justify-content-xl-between">
    <div *ngFor="let project of projects.reverse()" class="proyecto d-flex flex-column flex-md-row justify-content-md-between gap-5 shadow">
        <!-- <div class="muestra">
            <iframe [src]="project.url | safe"></iframe>
        </div> -->
        <div class="detalles">
            <h3 #name>{{project.projectName | uppercase}}</h3>
            <h4 class="text-muted" #date>{{project.date}}</h4>
            <p #description>{{project.description}}</p>
            <a [href]="project.url" target="_blank" #url>Ir al sitio <i class="bi bi-link-45deg"></i></a>
            <h5>Tecnologías Implementadas</h5>
            <div class="tecnologias-implementadas d-flex gap-1 flex-wrap" #technologies>
              <div *ngFor="let technology of project.implementedTechnologies.split(',')"  class="image">
                <img [src]="'../../../assets/images/'+ technology.trim() +'.png'" [alt]="'Icono de ' + technology">
              </div>
            </div>
        </div>
        <div class="edit-buttons d-flex flex-row flex-lg-column gap-2" *ngIf="isLogin()">
          <edit-button routerLink="/edit-project" (click)="getData(name, date, description, url, technologies)"></edit-button>
          <delete-button></delete-button>
        </div>
    </div>
    </div>
    <add-button routerLink="/add-project" *ngIf="isLogin()"></add-button>
</section>
