<section class="proyectos bg-dark container-fluid d-flex flex-column align-items-center" id="proyectos" *ngIf="loadedData">
    <h2 class="h2 text-white">Proyectos</h2>
    <div class="lista justify-content-center justify-content-xl-between">
    <div *ngFor="let project of projects.reverse()" class="proyecto d-flex flex-column flex-md-row justify-content-md-between gap-5 shadow">
        <div class="detalles text-white">
            <h3>{{project.projectName | uppercase}}</h3>
            <h4 class="text-muted">{{project.date}}</h4>
            <p>{{project.description}}</p>
            <h5 class="mt-3">Tecnologías Implementadas</h5>
            <div class="tecnologias-implementadas d-flex gap-1 flex-wrap mb-5">
              <div *ngFor="let technology of project.implementedTechnologies.split(',')"  class="image">
                <img [src]="'../../../assets/images/'+ technology.trim() +'.png'" [alt]="'Icono de ' + technology">
              </div>
            </div>
            <div class="links d-flex gap-1">
                <a [href]="project.webSiteUrl" target="_blank"><i class="bi bi-globe-americas"></i> Ir al sitio</a>
                <a [href]="project.codeUrl" target="_blank"><i class="bi bi-github"></i> Ver código</a>
            </div>
        </div>
        <div class="edit-buttons d-flex flex-row flex-lg-column gap-2" *ngIf="isLogin()">
          <edit-button routerLink="/edit-project" (click)="getData(project?.id, project?.projectName, project?.date, project?.description, project?.url, project?.implementedTechnologies)"></edit-button>
          <delete-button (click)="deleteProject(project?.id)"></delete-button>
        </div>
    </div>
    </div>
    <add-button routerLink="/add-project" *ngIf="isLogin()"></add-button>
</section>
