.proyectos .lista {
  width: 80%;
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.proyectos .proyecto {
  width: 500px;
  background-color: #2e3031;
  border-radius: 5px;
  padding: 20px;
  border: 5px solid #f44769;
}

.proyectos .proyecto .detalles h3 {
  font-size: 1.6rem;
}

.proyectos .proyecto .detalles button {
  background-color: #212529;
  padding: 5px 15px;
  border: none;
  border-radius: 25px;
}

.proyectos .proyecto .detalles button:hover {
  background-color: #922b3f;
}

.proyectos .proyecto .detalles button a {
  color: #fff;
  text-decoration: none;
}

.proyectos .proyecto .detalles .tecnologias-implementadas .image {
  width: auto;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.proyectos .proyecto .detalles .tecnologias-implementadas img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.proyectos add-button {
  width: 80%;
}
