<div class="container-fluid container-form flex-column align-items-center justify-content-center">
  <form #contactForm="ngForm" (submit)="sendForm(contactForm)">
    <h5>Editar Contacto</h5>
    <label for="alias">Nuevo alias</label>
    <input type="text" name="alias" [(ngModel)]="alias">
    <label for="address">Address</label>
    <input type="text" name="address" [(ngModel)]="address">
    <label for="url">URL</label>
    <input type="text" name="url" [(ngModel)]="url">
    <input type="submit" value="EDITAR">
    <input type="button" value="CANCELAR" routerLink="">
  </form>
</div>
