<section class="estudios container-fluid d-flex flex-column align-items-center" id="estudios">
    <h2 class="h2">Estudios</h2>
    <div *ngFor="let item of education" class="formacion d-flex justify-content-between">
        <div class="details">
        <div class="instituto d-flex align-items-center gap-3">
            <img [src]="'../../../assets/images/' + item.institutionImage" [alt]="item.shortName" class="logo img-fluid">
            <h3>{{item.institutionName}}</h3>
        </div>
        <h4 class="text-muted">{{item.certificate}}</h4>
        <span class="text-muted">{{item.date}}</span>
        <div class="observaciones">{{item.observations}}</div>
        </div>
        <div class="edit-buttons d-flex flex-column gap-2" *ngIf="authService.logIn()">
            <button><i class="bi bi-pencil-fill"></i></button>
            <button><i class="bi bi-trash3-fill"></i></button>
        </div>
    </div>
    <div class="add-section" *ngIf="authService.logIn()"><i class="bi bi-plus-circle-fill"></i></div>
</section>