.estudios .formacion {
  background-color: #2e3031;
  width: 80%;
  margin: 20px 0;
  border-radius: 5px;
  padding: 20px 15px;
}

.estudios .formacion .instituto .logo {
  width: 50px;
}

.estudios .formacion .instituto img {
  border-radius: 3px;
}

.estudios .formacion .instituto h3 {
  color: #922b3f;
}

.estudios add-button {
  width: 80%;
}
