<section class="habilidades bg-dark container-fluid d-flex flex-column align-items-center" id="habilidades">
    <h2 class="h2 text-white">Habilidades</h2>
    <div class="skills d-flex flex-wrap justify-content-center justify-content-xl-between gap-4">
      <div class="skills-container d-flex flex-column">
        <h3 class="text-white text-center pt-3">Front End</h3>
        <div class="front-end-skills d-flex justify-content-center flex-wrap gap-3 p-3">
          <div *ngFor="let skill of frontEndSkills" class="skill d-flex flex-column justify-content-center gap-2">
            <img [src]="'../../../assets/images/' + skill.image" [alt]="skill.name + 'logo'">
            <div class="edit-buttons d-flex gap-1" *ngIf="isLogin()">
              <edit-button routerLink="/edit-skill" (click)="getData(skill.id, skill.name, skill.image, skill.type)"></edit-button>
              <delete-button (click)="deleteSkill(skill.id)"></delete-button>
            </div>
          </div>
        </div>
      </div>
      <div class="skills-container d-flex flex-column">
        <h3 class="text-white text-center pt-3">Back End</h3>
        <div class="back-end-skills d-flex justify-content-center flex-wrap gap-3 p-3">
          <div *ngFor="let skill of backEndSkills" class="skill d-flex flex-column justify-content-center gap-2">
            <img [src]="'../../../assets/images/' + skill.image" [alt]="skill.name + 'logo'">
            <div class="edit-buttons d-flex gap-1" *ngIf="isLogin()">
              <edit-button routerLink="/edit-skill" (click)="getData(skill.id, skill.name, skill.image, skill.type)"></edit-button>
              <delete-button (click)="deleteSkill(skill.id)"></delete-button>
            </div>
          </div>
        </div>
      </div>
      <div class="skills-container d-flex flex-column">
        <h3 class="text-white text-center pt-3">Otros</h3>
        <div class="others-skills d-flex justify-content-center flex-wrap gap-3 p-3">
          <div *ngFor="let skill of othersSkills" class="skill d-flex flex-column justify-content-center gap-2">
            <img [src]="'../../../assets/images/' + skill.image" [alt]="skill.name + 'logo'">
            <div class="edit-buttons d-flex gap-1" *ngIf="isLogin()">
              <edit-button routerLink="/edit-skill" (click)="getData(skill.id, skill.name, skill.image, skill.type)"></edit-button>
              <delete-button (click)="deleteSkill(skill.id)"></delete-button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <add-button routerLink="/add-skill" *ngIf="isLogin()"></add-button>
</section>
