.habilidades .skills {
  width: 80%;
  margin: 40px 0;
}

.habilidades .skills .skill {
  background-color: #2e3031;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  padding: 15px;
}
.habilidades add-button {
  width: 80%;
  display: flex;
}
