<section class="experiencia container-fluid d-flex flex-column align-items-center" id="experiencia">
    <h2 class="h2">Experiencia Laboral</h2>
    <div *ngFor="let item of laboralExperience" class="item d-flex flex-column align-items-center text-center text-lg-start flex-lg-row align-items-lg-start gap-lg-5">
        <div class="logo-empresa">
            <img [src]="'../../../assets/images/' + item.companyImage" alt="logo" class="img-fluid">
        </div>
        <div class="detalles">
            <h3>{{item.companyName | uppercase}}</h3>
            <h4 class="text-muted">{{item.position}}</h4>
            <p>{{item.description}}</p>
        </div>
        <div class="año text-center text-lg-end">
            <span>{{item.year}}</span>
        </div>
        <edit-section></edit-section>
    </div>
    <add-button></add-button>
</section>